*.log
*.aux
*.fdb_*
*.fls
*.pdf
*.synctex.*
*.toc


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

## ros

devel/
logs/
build/
install/
bin/
lib/
msg_gen/
srv_gen/

# clion 
.idea/

# cmake intermediates
cmake-build-debug/
cmake-build-release/

# QtCreator
Debug/
*.autosave
build-ControllerUi-Desktop_Qt_5_10_0_GCC_64bit-Debug/