<?xml version="1.0"?>
<launch>
  <arg name="model" default="$(find prius_description)/urdf/prius2.urdf"/>
  <arg name="rvizconfig" default="$(find car_demo)/rviz/world_car2.rviz" />

  <param name="robot_description2" textfile="$(arg model)"/>

  <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher2" >
    <remap from="robot_description" to="robot_description2" />
    <!-- <remap from="joint_states" to="/prius/joint_states" /> -->
  </node>

  <node pkg="fake_localization" type="fake_localization" name="fake_localization2">
    <remap from="base_pose_ground_truth" to="/prius2/base_pose_ground_truth"/>
  </node>

  <node pkg="tf2_ros" type="static_transform_publisher" name="very_inaccurate_odom2" args="0 0 0 0 0 0 odom base_link"/>

  <node name="spawn_urdf2" pkg="gazebo_ros" type="spawn_model" args="-param robot_description2 -urdf -x -121 -y 20 -z 0.5 -model prius2">
    <remap from="prius" to="p2"/>
  </node>


  <node name="rviz2" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>
