<?xml version="1.0"?>
<launch>

<arg name="rvizconfig" default="$(find platooning_sim)/rviz/world.rviz" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="verbose" value="true"/>
    <arg name="world_name" value="$(find platooning_sim)/worlds/mcity.world"/>
  </include>


  <arg name="model" default="$(find prius_description)/urdf/prius1.urdf"/>
  <param name="robot_description" textfile="$(arg model)"/>
  <node name="spawn_urdf1" pkg="gazebo_ros" type="spawn_model" args="-namespace p0 -param robot_description -urdf -x 3 -y -12 -z 0.5 -model prius"/>


</launch>
